* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  text-align: center;
}

nav {
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: rgb(49, 49, 143);
  color: #eee;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 40%;
}

h3.logo,
li.nav-item {
  color: #eee;
}

/* Home Page */
.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 40px;
}

.hero .left-hero {
  text-align: left;
}

.hero .left-hero h2 {
  font-size: 40px;
  margin-bottom: 12px;
  font-weight: normal;
  opacity: 0;
  transform: translateX(-10%);

  animation: anim1 0.5s ease-in forwards;
}

.hero .left-hero p {
  line-height: 1.7rem;
  text-align: justify;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateX(-10%);

  animation: anim1 0.5s ease-in 1s forwards;
}

.hero .left-hero a.btn-get-started {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: rgba(12, 12, 95, 0.8);
  text-decoration: none;
  color: #fff;
  display: inline-block;
  opacity: 0;

  transition: 0.5s;
  animation: fading 0.5s ease-in 2s forwards;
}

.hero .left-hero a.btn-get-started:hover {
  background-color: rgba(12, 12, 95, 1);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.hero img {
  width: 350px;
  opacity: 0;
  transform: translateX(10%);

  animation: anim1-reverse 0.5s ease-in 1.5s forwards;
}

/* Movies Container */

.movies-section {
  padding-top: 40px;
}

.movies-section .input-search {
  width: 40%;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  border: 2px solid gray;
}

.movies-section .btn-search {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 173, 22, 0.8);
  color: #fff;
  font-size: 14px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);

  transition: 0.5s;
  cursor: pointer;
}

.movies-section .btn-search:hover {
  background-color: rgba(255, 173, 22, 1);
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  gap: 20px;
}

.card-movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.card-body {
  margin-top: 12px;
}

.card-body h5 {
  font-size: 16px;
  margin-bottom: 4px;
}

.card-body p {
  color: rgb(104, 104, 104);
}

.link-btn {
  background-color: rgba(80, 80, 255, 0.8);
  padding: 10px 20px;
  display: inline-block;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 12px;

  transition: 0.5s;
}

.link-btn:hover {
  background-color: rgba(80, 80, 255, 1);
}

/* Detail Movie */
.movie-detail {
  width: 80%;
  margin: 50px auto;
  display: flex;
  text-align: left;
  gap: 20px;

  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  overflow: hidden;
}

.movie-detail .detail-data {
  list-style: none;
  padding: 20px;
}

.detail-data h4 {
  margin-bottom: 20px;
  font-size: 28px;
}

.detail-data li {
  margin-bottom: 15px;
}

.btn-back {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: rgba(255, 64, 64, 0.8);
  text-decoration: none;
  color: #fff;
  display: inline-block;

  transition: 0.5s;
  margin-top: 20px;
}

.btn-back:hover {
  background-color: rgba(255, 64, 64, 1);
}

.anim {
  opacity: 0;
  transform: translateX(-20%);
}

@keyframes anim1 {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes anim1-reverse {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .movie-detail {
    flex-direction: column;
  }

  .detail-data h4 {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .detail-data li {
    font-size: 14px;
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {
  .movie-detail {
    flex-direction: column;
  }

  .detail-data h4 {
    margin-bottom: 14px;
    font-size: 18px;
  }

  .detail-data li {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
